<!--VERIFICAR SE EXISTE VALOR NA VARIAVEL GLOBAL success_msg-->
{{#if success_msg }}

    <!--imprimir o valor da variavel global success_msg-->
<p style="color: green;">{{success_msg}}</p>
{{/if}}

<!--VERIFICAR SE EXISTE VALOR NA VARIAVEL GLOBAL error_msg-->
{{#if error_msg }}
<!--imprimir o valor da variavel global error_msg-->
<p style="color: red;">{{error_msg}}</p>
{{/if}}