<a href="/">LISTAR</a><br>

<!-- Criar link para visualizar detalhes do registro -->
<a href="/view-user/{{user.id}}">VISUALIZAR</a><br>

<h1>Editar Senha</h1>

<!--imprimir as messagens que estão na sessão-->
{{>_msg}}

<form action="/edit-password/{{user.id}}" method="POST">
    
     <label>Senha: </label>
    <input type="password" name="password" id="password"  autocomplete="on" placeholder="Senha com mínimo 6 caractes" required><br><br>
   
    <button type="submit" >CONFIRMAR</button>
</form>